.cm-editor {
	background-color: hsl(0deg 0% 5%);
}

.cm-editor .cm-gutters {
	background-color: hsl(0deg 0% 5%);
	color: hsl(0deg 0% 40%);
}

.cm-editor .cm-tooltip {
	background-color: hsl(236deg 15% 20%);
}
